{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<section class="page-header">
    <h1>{{ room.name }}</h1>
</section>

<section class="detail-card">

    {% if room.image %}
        <img class="room-image detail-room-image" src="{{ room.image.url }}" alt="{{ room.name }}">
    {% endif %}

    {% if room.description %}
        <p>{{ room.description }}</p>
    {% endif %}

    <p>{% trans "Branch:" %} {{ room.branch.name }}</p>
    <p>{% trans "Capacity:" %} {{ room.capacity }}</p>

    <p>
        {% trans "Price per hour:" %}
        {{ room.price_per_hour }} BHD
    </p>

    {% if room.available %}
        <p class="available">{% trans "Available" %}</p>

        <a class="btn" href="{% url 'book' 'room' room.pk %}">
            {% trans "Book Now" %}
        </a>
    {% else %}
        <p class="not-available">{% trans "Not Available" %}</p>
    {% endif %}

</section>

{% endblock %}