{% extends 'base.html' %}

{% block content %}

<h1>{{ room.name }}</h1>

<p><strong>Branch:</strong> {{ room.branch.name }}</p>

<p><strong>Capacity:</strong> {{ room.capacity }}</p>

<p><strong>Price per Hour:</strong> {{ room.price_per_hour }}</p>

<p>
    <strong>Status:</strong>

    {% if room.available %}
        Available
    {% else %}
        Unavailable
    {% endif %}
</p>

<hr>

<a href="{% url 'room_update' room.pk %}">Edit</a> |
<a href="{% url 'room_delete' room.pk %}">Delete</a> |
<a href="{% url 'rooms' %}">Back</a>

{% endblock %}