{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<section class="page-header">

<h1>{% trans "Office Features" %}</h1>

<p>
{% trans "Everything you need for a productive workspace." %}
</p>

</section>



<section class="features-section">


<div class="card-grid">


{% for feature in features %}


<div class="feature-card">


<h3>
⭐
</h3>


<h4>
{{ feature.title }}
</h4>


<p>
{{ feature.description }}
</p>



<a class="btn" href="{% url 'feature_detail' feature.id %}">
{% trans "More" %}
</a>


</div>


{% endfor %}


</div>


</section>


{% endblock %}