{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<section class="form-card">

<h1>
{% trans "Create Account" %}
</h1>


<form method="post">

{% csrf_token %}


<p>
<label>
{% trans "Username" %}
</label>

{{ form.username }}

{% for error in form.username.errors %}

<span class="error">
{{ error }}
</span>

{% endfor %}

</p>



<p>

<label>
{% trans "Password" %}
</label>

{{ form.password1 }}


{% for error in form.password1.errors %}

<span class="error">
{{ error }}
</span>

{% endfor %}


</p>



<p>

<label>
{% trans "Confirm Password" %}
</label>


{{ form.password2 }}


{% for error in form.password2.errors %}

<span class="error">
{{ error }}
</span>


{% endfor %}


</p>



<button class="btn" type="submit">
{% trans "Create Account" %}
</button>


</form>



<p>

{% trans "Already have an account?" %}

<a href="{% url 'login' %}">
{% trans "Login" %}
</a>


</p>


</section>


{% endblock %}