{% extends 'base.html' %}


{% block content %}


<section class="form-card">


<h1>
Create Account
</h1>


<form method="post">


{% csrf_token %}


<p>
<label>
Username
</label>

{{ form.username }}

{% for error in form.username.errors %}

<span class="error">
{{ error }}
</span>

{% endfor %}

</p>



<p>

<label>
Password
</label>

{{ form.password1 }}


{% for error in form.password1.errors %}

<span class="error">
{{ error }}
</span>

{% endfor %}


</p>




<p>

<label>
Confirm Password
</label>


{{ form.password2 }}


{% for error in form.password2.errors %}

<span class="error">
{{ error }}
</span>


{% endfor %}


</p>



<button class="btn" type="submit">
Create Account
</button>


</form>



<p>

Already have an account?

<a href="{% url 'login' %}">
Login
</a>


</p>


</section>


{% endblock %}