{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="dashboard-container">
<h1>{% blocktrans with username=user.username %}{{ username }}'s Dashboard{% endblocktrans %}</h1>
    <div class="booking-list">
        {% for booking in bookings %}
            <div class="booking-card">
                <h3>{{ booking.client_name }} - {{ booking.meeting_room|default:booking.office }}</h3>
                <p>{% trans "Status:" %} {{ booking.get_status_display }}</p>
                <a href="{% url 'booking_cancel' booking.pk %}" class="btn delete-btn">{% trans "Cancel" %}</a>
            </div>
        {% empty %}
            <p>{% trans "You have no active space bookings." %}</p>
        {% endfor %}
    </div>
</section>
{% endblock %}